<div class="row mb-3">
    <div class="col-xs-12 d-flex">
        <p class="h3 title-bravi">Validação de colchetes</p>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="validText()">
            <div class="row p-5">
                <div class="col-xs-12 d-flex justify-content-center">
                    <div class="col-md-6 col-sm-8">
                        <div class="col-xs-12 form-group mb-4">
                            <label for="text" class="form-label"
                                [ngClass]="{'text-danger':form.controls['text'].touched && form.controls['text'].invalid}">Texto
                                para validação</label>

                            <input type="text" class="form-control form-control-lg" formControlName="text"
                                [ngClass]="{'is-invalid': form.controls['text'].touched && form.controls['text'].invalid}"
                                required>

                            <div class="invalid-feedback"
                                *ngIf="form.controls['text'].touched && form.controls['text'].invalid && form.controls['text'].errors?.['required']">
                                Campo obrigatório.
                            </div>
                            <div class="invalid-feedback"
                                *ngIf="form.controls['text'].touched && form.controls['text'].invalid && form.controls['text'].errors?.['pattern']">
                                Texto inválido, os caracteres permitidos são {{"(, ), {, }, [ e ]"}}
                            </div>
                        </div>

                        <div class="col-xs-6 d-flex justify-content-end">
                            <button class="btn btn-dark px-4 py-2">
                                Verificar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>