/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "/node_modules/ngx-bootstrap/datepicker/bs-datepicker";
@import "/node_modules/bootstrap/scss/functions";

.title-bravi {
  background: linear-gradient(to right, #712eaf 0%, #da2892 100%);
  padding: 0px 3px 3px;
  color: white;
  font-weight: 900;
}

.title-bravi2 {
  background: linear-gradient(to right, #ed2652 0%,#dcba48 100%)!important;
  padding: 0px 3px 3px;
  color: white;
  font-weight: 700;
}

.form-label {
  transform: translate(3px, 0px);
  font-size: 13px;
  height: 0;
  font-weight: 500;
  color: grey;
}

.invalid-feedback {
  transform: translate(3px, 0px);
  height: 0;
  font-size: 12px;
}