/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "/node_modules/ngx-bootstrap/datepicker/bs-datepicker";
// @import "/node_modules/bootstrap/scss/functions";

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);

.title-bravi {
    background: linear-gradient(to right, #712eaf 0%, #da2892 100%);
    padding: 0px 3px 3px;
    color: white;
    font-weight: 900;
}